@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(/assets/img/banners/carros_paises/banner_eua.png);
    background-size: cover;
    height: 78vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.hidden {
    opacity: 0;
    transform: translateY(-50px);
    filter: blur(5px);
    transition: 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 20px;
}

.navbar ul li {
    padding: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
    display: block;
}

.navbar img {
    width: 100px;
}

.navbar ul li a:hover {
    color: #cf2917;
}

.drop-hover-carros {
    position: relative;
}

.drop-hover-carros .drop {
    position: absolute;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.7s;
    border-radius: 8px;
    margin-left: -25px;
    opacity: 0.9;
}

.drop-hover-carros .drop a {
    padding: 20px 20px;
    color: #d80027;
    opacity: 1;
    text-shadow: none;
}

.drop-hover-carros:hover .drop {
    height: 430px;
}

.drop-hover-carros .drop a:hover {
    color: #000;
}

.drop-hover-categorias .drop {
    position: absolute;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.7s;
    border-radius: 8px;
    margin-left: -10px;
    opacity: 0.9;
    width: 165px;
}

.drop-hover-categorias .drop a {
    padding: 20px ;
    color: #d80027;
    text-shadow: none;
}

.drop-hover-categorias .drop a:hover {
    color: #000;
}
.drop-hover-categorias:hover .drop {
    height: 470px;
}

#btnTema {
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
}

#btnTema:hover {
    color: #d80027;
}

.fade {
    opacity: 0;
    transition: opacity 0.8s ease;
    margin-top: 20px;
    font-size: 18px;
}

.fade.show {
    opacity: 1;
}

.linha-navbar {
    border: none;
    height: 2px;
    background-color: #ca141d;
    margin-left: 80px;
    margin-right: 80px;
}

.bandeiras-carousel {
    display: flex;
    gap: 80px;
    background-color: #f8f8f8;
    padding: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

.bandeiras-carousel .alemanha img,
.bandeiras-carousel .eua img,
.bandeiras-carousel .japao img,
.bandeiras-carousel .brasil img,
.bandeiras-carousel .reino-unido img {
    width: 75px;
    height: 75px;
    border-radius: 500px;
    gap: 80px;
    object-fit: cover;
    border: 1px solid #000000;
    transition: 0.7;
}

.bandeiras-carousel .franca img,
.bandeiras-carousel .italia img {
    width: 75px;
    height: 75px;
    border-radius: 500px;
    gap: 80px;
    border: 1px solid #000000;
    transition: 0.7;
}


.bandeiras-carousel img:hover {
    transition: 0.7s;
    transform: translateY(-10px);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.50);
}


.japao-container {
    padding: 10px;
    text-align: center;
}

.noth {
    font-size: 1.8rem;
    color: #ca141d;
    font-weight: 800;
    margin-top: 10px;
    padding: 40px;
}

.noth2 {
    font-size: 1.6rem;
    font-weight: 800;
    margin-top: -50px;
    padding: 40px;
}

.descricao {
    line-height: 1.5;
    margin: auto;
    font-size: 16px;
    max-width: 900px;
    text-align: justify;
    color: #000;
    padding: 20px 40px;
}

.cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 40px;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.7s;
}

.card h3 {
    text-align: center;
}


.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.50);
}

footer {
    background-color: #d80027;
    margin-top: 75px;
    text-align: center;
    padding: 40px;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    gap: 40px;
}

footer .container ul {
    width: 200px;
    text-align: left;
}

footer .container h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

footer .container h4 {
    font-weight: 400;
}

footer .container ul>p {
    margin-bottom: 40px;
}

footer .container li {
    margin: 10px 0;
    list-style: none;
}

footer .container a {
    color: white;
    text-decoration: none;
}

.footer-drop-hover {
    position: relative;
}

.footer-drop {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.footer-drop-hover:hover .footer-drop {
    max-height: 300px;
}

.footer-drop a {
    display: block;
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
}

.footer-drop a:hover {
    color: #ccc;
}

.copy {
    background-color: #ca141d;
    color: white;
    text-align: center;
    padding: 20px;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.dark .drop-hover-carros .drop {
    background-color: #0f0f0f;
}

body.dark .drop-hover-categorias .drop {
    background-color: #0f0f0f;
}

body.dark .drop-hover-carros .drop a {
    color: #fff;
}

body.dark .drop-hover-categorias .drop a {
    color: #fff;
}

body.dark .drop-hover-carros .drop a:hover {
    color: #d80027;
}

body.dark .drop-hover-categorias .drop a:hover {
    color: #d80027;
}

body.dark #btnTema {
    color: #fff;
}

body.dark #btnTema:hover {
    color: #d80027;
}

body.dark .bandeiras-carousel {
    background-color: #0f0f0f;
}

body.dark .bandeiras-carousel img {
    border: 1px solid white;
}

body.dark label ::placeholder{
    color: #000;
}

body.dark .cards img {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
}

body.dark h2,
body.dark h3,
body.dark p {
    color: white;
}

.logo{
    height: 80px;
    margin-top: 30px;
}

@media (max-width: 1200px) {
    .navbar {
        padding: 20px 40px;
    }
}

@media (max-width: 992px) {

    .navbar ul li {
        padding: 15px;
    }

    .bandeiras-carousel {
        flex-wrap: wrap;
        gap: 40px;
    }

    .slides .slide p {
        width: 80%;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {

    header {
        height: 70vh;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        text-align: center;
    }

    .navbar img {
        width: 80px;
    }

    .navbar ul {
        flex-direction: column;
        margin: 0;
    }

    #btnTema {
        font-size: 25px;
    }

    .linha-navbar {
        margin-left: 20px;
        margin-right: 20px;
    }

    #btnDescubra {
        margin: 260px auto 0 auto;
        display: block;
        width: 70%;
        font-size: 22px;
    }

    .bandeiras-carousel img {
        width: 60px;
        height: 60px;
    }

    .intro_inicio p {
        padding: 10px 20px;
        font-size: 15px;
    }

    .intro_inicio h2 {
        font-size: 1.4rem;
        padding: 20px;
    }

    .slides .slide p {
        top: 78%;
        width: 90%;
        font-size: 0.9rem;
    }

    .seta {
        font-size: 2rem;
        width: 45px;
    }

    footer .container {
        flex-direction: column;
        text-align: center;
        border: none;
    }

    footer .container ul:not(:last-child) {
        border: none;
        height: auto;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 576px) {

    header {
        height: 60vh;
    }

    .navbar ul li {
        padding: 10px;
    }

    #btnDescubra {
        margin-top: 200px;
        width: 80%;
        font-size: 20px;
    }

    .bandeiras-carousel {

        gap: 20px;
        padding: 20px;
    }

    .bandeiras-carousel img {
        width: 50px;
        height: 50px;
    }

    .slides .slide p {
        top: 75%;
        width: 92%;
        font-size: 0.85rem;
    }

    .seta {
        font-size: 1.8rem;
        width: 40px;
    }

    footer {
        padding: 30px;
    }

    .copy {
        padding: 15px;
    }
}

.logo{
    height: 80px;
    margin-top: 30px;
}


body.dark footer{

    background-color: #0f0f0f;
}

body.dark .copy {
    background-color:#121212 ;
}