@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(/assets/img/banners/banner_noticias.png);
    background-size: cover;
    height: 78vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.hidden {
    opacity: 0;
    transform: translateY(-50px);
    filter: blur(5px);
    transition: 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 20px;
}

.navbar ul li {
    padding: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
    display: block;
}

.navbar img {
    width: 100px;
}

.navbar ul li a:hover {
    color: #cf2917;
}

.drop-hover-carros {
    position: relative;
}

.drop-hover-carros .drop {
    position: absolute;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.7s;
    border-radius: 8px;
    margin-left: -25px;
    opacity: 0.9;
}

.drop-hover-carros .drop a {
    padding: 20px 20px;
    color: #d80027;
    opacity: 1;
    text-shadow: none;
}

.drop-hover-carros:hover .drop {
    height: 430px;
}

.drop-hover-carros .drop a:hover {
    color: #000;
}

.drop-hover-categorias .drop {
    position: absolute;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.7s;
    border-radius: 8px;
    margin-left: -10px;
    opacity: 0.9;
    width: 165px;
}

.drop-hover-categorias .drop a {
    padding: 20px;
    color: #d80027;
    text-shadow: none;
}

.drop-hover-categorias .drop a:hover {
    color: #000;
}

.drop-hover-categorias:hover .drop {
    height: 470px;
}

#btnTema {
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
}

#btnTema:hover {
    color: #d80027;
}

.fade {
    opacity: 0;
    transition: opacity 0.8s ease;
    margin-top: 20px;
    font-size: 18px;
}

.fade.show {
    opacity: 1;
}


.linha-navbar {
    border: none;
    height: 2px;
    background-color: #ca141d;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: -10px;
}

section hr {
    width: 17%;
    height: 8px;
    background: #cf2917;
    margin: 10px auto 20px auto;
    border: none;
    background: radial-gradient(#cf2917, transparent);
}

.bandeiras-carousel {
    display: flex;
    gap: 80px;
    background-color: #f8f8f8;
    padding: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

.bandeiras-carousel .alemanha img,
.bandeiras-carousel .eua img,
.bandeiras-carousel .japao img,
.bandeiras-carousel .brasil img,
.bandeiras-carousel .reino-unido img {
    width: 75px;
    height: 75px;
    border-radius: 500px;
    gap: 80px;
    object-fit: cover;
    border: 1px solid #000000;
    transition: 0.7;
}

.bandeiras-carousel .franca img,
.bandeiras-carousel .italia img {
    width: 75px;
    height: 75px;
    border-radius: 500px;
    gap: 80px;
    border: 1px solid #000000;
    transition: 0.7;
}


.bandeiras-carousel img:hover {
    transition: 0.7s;
    transform: translateY(-10px);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.50);
}

.notcontainer {
    text-align: center;
    padding: 40px 20px;
}

.noth2 {
    font-size: 1.8rem;
    color: #ca141d;
    font-weight: 800;
    margin-top: 10px;
    padding: 40px;
}

.descricao {
    line-height: 1.5;
    margin: auto;
    font-size: 16px;
    max-width: 900px;
    text-align: center;
    color: #000;
    padding: 20px 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    width: 320px;
    height: 400px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #ca141d;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.70);
    cursor: pointer;
    object-fit: cover;
    font-family: sans-serif;

}

a {
    text-decoration: none;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.7s;

}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.infocard {
    text-align: left;
    margin: 10px;
    max-width: 600px;
    color: white
}

.hrcard {
    border: none;
    height: 3px;
    background-color: #fff;
    margin: 3px 0 7px 0;
    width: 15%;
}

footer {
    background-color: #d80027;
    margin-top: 75px;
    text-align: center;
    padding: 40px;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    gap: 40px;
}

footer .container ul {
    width: 200px;
    text-align: left;
}

footer .container h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

footer .container h4 {
    font-weight: 400;
}

footer .container ul>p {
    margin-bottom: 40px;
}

footer .container li {
    margin: 10px 0;
    list-style: none;
}

footer .container a {
    color: white;
    text-decoration: none;
}

.footer-drop-hover {
    position: relative;
}

.footer-drop {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.footer-drop-hover:hover .footer-drop {
    max-height: 300px;
}

.footer-drop a {
    display: block;
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
}

.footer-drop a:hover {
    color: #ccc;
}

.copy {
    background-color: #ca141d;
    color: white;
    text-align: center;
    padding: 20px;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.dark .drop-hover-carros .drop {
    background-color: #0f0f0f;
}

body.dark .drop-hover-categorias .drop {
    background-color: #0f0f0f;
}

body.dark .drop-hover-carros .drop a {
    color: #fff;
}

body.dark .drop-hover-categorias .drop a {
    color: #fff;
}

body.dark .drop-hover-carros .drop a:hover {
    color: #d80027;
}

body.dark .drop-hover-categorias .drop a:hover {
    color: #d80027;
}

body.dark #btnTema {
    color: #fff;
}

body.dark #btnTema:hover {
    color: #d80027;
}

body.dark .bandeiras-carousel {
    background-color: #0f0f0f;
}

body.dark .bandeiras-carousel img {
    border: 1px solid white;
}


body.dark .carro {
    background-color: #7e7e7e;
}

body.dark .card {
    background-color: #0f0f0f;
}

body.dark .notcontainer .noth1,
body.dark .notcontainer .infocard,
body.dark .notcontainer .noth2,
body.dark .notcontainer .noth3,
body.dark .notcontainer .descricao {
    color: white;
}

body.dark a {
    color: #ffffff;
}
.logo{
    height: 80px;
    margin-top: 30px;
}


body.dark footer{

    background-color: #0f0f0f;
}

body.dark .copy {
    background-color:#121212 ;
}


.teste {
 
}